<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Idea Box", root_path %></h1>
    </li>
    <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Find Stuff">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="alert button expand">Search</a>
        </div>
      </div>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>-->
  </ul>

  <!--<section class="top-bar-section">-->
    <!--&lt;!&ndash; Right Nav Section &ndash;&gt;-->
    <!--<ul class="right">-->
      <!--<li><a href="#">Button</a></li>-->
      <!--<li class="has-dropdown">-->
        <!--<a href="#">Dropdown</a>-->
        <!--<ul class="dropdown">-->
          <!--<li><a href="#">link</a></li>-->
          <!--<li><a href="#">link</a></li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->

    <!--&lt;!&ndash; Left Nav Section &ndash;&gt;-->
    <!--<ul class="left">-->

    <!--</ul>-->
  <!--</section>-->
</nav>
